@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body{
    background-color: #FFF7F0;
    font-family:'Plus Jakarta Sans';
}

.main-container{
    margin: 16px 16px 32px;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.container-of-footer{
    display: flex;
    justify-content: space-between;
}

.logo-image{
    height: 48px;
    width: 48px;
}

.black-button{
    background: #030303;
    border-radius: 28px;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color:#FFF7F0;
    height: 44px;
    width: 176px;
    cursor: pointer;
    border: none;
}

.top-header{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    color:#030303;
    margin-bottom: 16px;
}

.top-header p{
    max-width: 287px;
}

.texts{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color:#7A746E;
}

.images-container{
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profession-texts{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color:#FFFFFF;
    margin-left:24px;
    margin-bottom: 24px;
}

.box-style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.graphic-design-box{
    background-color: #755CDE;
    height: 364px;
    width: 343px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.profession-pictures{
    align-self: flex-end;
    margin-right: 24px;
    padding-top:24px
}

.uiux-app-illustration-section{
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 700px;
}

.ui-ux-box{
    height: 182px;
    width: 159px;
    border-radius: 8px;
    background-color: #F6A560;
}

.apps-box{
    height: 182px;
    width: 159px;
    border-radius: 8px;
    background-color: #F39E9E;
}

.little-profession-images{
    align-self: flex-end;
    padding-right: 24px;
    padding-top:24px
}

.illustrations-box{
    height: 158px;
    width: 343px;
    border-radius: 8px;
    background-color:#EB7565;
}

.photography-box{
    height: 182px;
    width: 343px;
    border-radius: 8px;
    background-color:#61C4B7;
    margin-bottom: 24px;
}

.photography-box img{
    align-self: flex-end;
    margin-right: 24px;
    padding-top: 24px;
}

.motion-graphics-box{
    height: 182px;
    width: 343px;
    border-radius: 8px;
    background-color:#552049;
}

.girls-container{
    margin-bottom: 100px;
}

.amy-image{
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}

.amy-text-box h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color:#030303;
    margin-bottom: 24px;
}

.light-red-button{
    height: 44px;
    width: 176px;
    border-radius: 28px;
    background: #EB7565;
    color:#FFF7F0;
    margin-top: 24px;
    border:none;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}

.sliders-container{
    margin-bottom: 100px;

}

.sliders-container h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color:#030303;
    margin-bottom: 32px;
}

.images-container-slide{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 32px;
    overflow: hidden;
}

.slide-images{
    border-radius: 10px;
    width: 71%;
    transition: 1.3s;
}

.slider-buttons-box{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#left-slide-button{
    height: 64px;
    width: 64px;
    background-color: #030303;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
}

#right-slide-button{
    height: 64px;
    width: 64px;
    background-color: #030303;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
}

.container-of-booking{
    margin-bottom: 42px;
    background-color: #030303;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookCall h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    color:#FFF7F0;
    padding-top: 49px;
    padding-bottom: 24px;
}

.bookCall p{
    color:#FFF7F0;
    max-width:296px;
}

.container-of-booking button{
    margin-bottom: 48px;
}

#left-slide-button:hover{
    background-color: #755CDE;
}

#right-slide-button:hover{
    background-color: #755CDE;
}

.black-button:hover{
    background-color: #755CDE;
}

.light-red-button:hover{
    background-color: #F6A560;
}

@media (min-width:768px) {

.main-container{
    margin:34px 39px 56px;
} 
    
.logo-image{
    height: 64px;
    width: 64px;
}

.black-button{
    height: 56px;
    width: 228px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.top-header h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
}

.top-header p{
    max-width: 573px;
}

.texts{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.uiux-app-illustration-section{
    max-width: 345px;
}

.section-1{
    flex-direction: row;
    gap: 24px;
}

.section-2{
    display: flex;
    gap: 24px;
}

.amy-text-box {
    display: flex;
    flex-direction: column;
}

.amy-text-box h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.amy-text-box p{
    text-align: left;
}

.light-red-button{
    height: 56px;
    width: 228px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.girls-container{
    display: flex;
}

.amy-image{
    width:364px;
    height:364px;
    transform: translateX(-23%);
}

.container-of-booking{
    margin-bottom: 60px;
}

.bookCall h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.bookCall p{
    min-width:540px;
}
}

@media (min-width:1440px) {
.main-container{
    margin:34px 165px 64px;
}

.top-header{
    margin-bottom: 80px;
}

.top-header p{
    min-width: 730px;
}

.images-container{
    flex-direction: row;
    align-items: flex-start;
    gap:24px;
}

.uiux-app-illustration-section{
    max-width: 100%;
}

.graphic-design-box{
    width:60%;
}

.section-1{
    width: 65%;
}

.section-2{
    flex-direction: column;
    width: 38%;
}

.photography-box{
    margin-bottom: 0;
    width: 100%;
}

 .motion-graphics-box{
    height: 158px;
    width: 100%;;
} 

.illustrations-box{
    width:100%;
}

.apps-box{
    width: 46%
}

.ui-ux-box{
    width: 46%
}

.girls-container{
    display: flex;
    align-items: center;
    gap: 120px;
}

.amy-image{
    width:445px;
    height:445px;
    transform: none;
}

.amy-text-box h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.images-container-slide{
    overflow: visible;
}

.container-of-booking{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 81px 95px 80px 65px;
}

.bookCall h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    padding:0;
    padding-bottom:25px;
}

.bookCall p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}


}